# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/QmlCube/Dist/bin/*.exe
/QmlCube/Dist/bin_d/*.exe
/QmlCube/Dist/bin_d/*.ilk
/QmlCube/Dist/bin_d/*.pdb

/3DModelLoad/Dist/bin/*.exe
/3DModelLoad/Dist/bin_d/*.exe
/3DModelLoad/Dist/bin_d/*.ilk
/3DModelLoad/Dist/bin_d/*.pdb

